.game {
  display: flex;
  .space-section {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  .sec1 {}
  .sec2 {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .space {
    width: 72px;
    height: 72px;
    box-sizing: border-box;
    border: 1px solid black;
  }
}
